# Dependency directories
node_modules/
*/node_modules/

# Build output
.next/
out/
build/
dist/

# Environment variables - DO NOT COMMIT THESE
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
*.tsbuildinfo
.npm
.eslintcache

# Temporary files and folders
tmp/
temp/

# Editor-specific files
.vscode/*
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.vercel
 
# Testing
coverage/
*.lcov
.nyc_output

# Security
*.pem
